 .u-section-1 {
  background-image: url(test.html);
}

.u-section-1 .u-sheet-1 {
  min-height: 1268px;
}

.u-section-1 .u-shape-1 {
  width: 832px;
  height: 832px;
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 60px auto 0 0;
}

.u-section-1 .u-shape-2 {
  width: 947px;
  height: 828px;
  --animation-custom_in-translate_x: -300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: -690px 0 0 auto;
}

.u-section-1 .u-image-1 {
  height: 626px;
  width: 911px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 180deg;
  --animation-custom_in-scale: 0.3;
  object-position: 100% 50%;
  margin: -860px auto 0;
}

.u-section-1 .u-group-1 {
  width: 761px;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.2);
  height: auto;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  min-height: 466px;
  margin: -143px auto 60px;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px 20px 0;
}

.u-section-1 .u-text-1 {
  font-size: 6rem;
  width: auto;
  margin: 23px 10px 0;
}

.u-section-1 .u-text-2 {
  margin: 49px 10px 0;
}

.u-section-1 .u-shape-3 {
  box-shadow: 0px -2px 8px 0px rgba(128,128,128,1);
  width: 721px;
  margin: 47px 0 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1237px;
  }

  .u-section-1 .u-shape-1 {
    width: 780px;
    height: 756px;
  }

  .u-section-1 .u-shape-2 {
    width: 752px;
    height: 734px;
    margin-left: 188px;
  }

  .u-section-1 .u-image-1 {
    height: 511px;
    width: 721px;
    margin-left: 101px;
  }

  .u-section-1 .u-group-1 {
    width: 641px;
    min-height: 579px;
    height: auto;
  }

  .u-section-1 .u-text-1 {
    font-size: 3.75rem;
  }

  .u-section-1 .u-text-2 {
    width: auto;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1170px;
  }

  .u-section-1 .u-shape-1 {
    width: 580px;
    height: 580px;
  }

  .u-section-1 .u-shape-2 {
    width: 559px;
    height: 570px;
    margin-top: -438px;
    margin-left: auto;
  }

  .u-section-1 .u-image-1 {
    height: 459px;
    width: 612px;
    margin-top: -602px;
    margin-left: auto;
  }

  .u-section-1 .u-group-1 {
    width: 541px;
    min-height: 553px;
    margin-top: -92px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3rem;
  }

  .u-section-1 .u-text-2 {
    margin-right: 0;
  }

  .u-section-1 .u-shape-3 {
    width: 581px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1112px;
  }

  .u-section-1 .u-shape-1 {
    width: 474px;
    height: 478px;
  }

  .u-section-1 .u-shape-2 {
    width: 412px;
    height: 500px;
    margin-top: -336px;
    margin-left: 128px;
  }

  .u-section-1 .u-image-1 {
    height: 381px;
    width: 480px;
    margin-top: -532px;
  }

  .u-section-1 .u-group-1 {
    width: 408px;
    min-height: 579px;
    margin-top: -78px;
  }

  .u-section-1 .u-text-1 {
    font-size: 2.25rem;
  }

  .u-section-1 .u-shape-3 {
    width: 520px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 979px;
  }

  .u-section-1 .u-shape-1 {
    width: 220px;
    height: 236px;
    margin-top: 52px;
  }

  .u-section-1 .u-shape-2 {
    width: 220px;
    height: 226px;
    margin-top: -216px;
    margin-left: 60px;
  }

  .u-section-1 .u-image-1 {
    height: 216px;
    width: 290px;
    margin-top: -315px;
  }

  .u-section-1 .u-group-1 {
    width: 340px;
    margin: 30px 0 52px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 2px;
  }

  .u-section-1 .u-shape-3 {
    width: 320px;
  }
} .u-section-2 {
  background-image: url(photos/SFU\ NEws.png);
}

.u-section-2 .u-sheet-1 {
  min-height: 627px;
}

.u-section-2 .u-text-1 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  margin: 60px auto 0;
}

.u-section-2 .u-text-2 {
  width: 459px;
  font-size: 1.25rem;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  margin: 17px auto 0;
}

.u-section-2 .u-list-1 {
  margin-top: 36px;
  margin-bottom: 60px;
}

.u-section-2 .u-repeater-1 {
  grid-template-columns: calc(25% - 13.5px) calc(25% - 13.5px) calc(25% - 13.5px) calc(25% - 13.5px);
  min-height: 341px;
  grid-gap: 18px 18px;
}

.u-section-2 .u-image-1 {
  background-image: url("photos/casaalitasvol.jpg");
  box-shadow: 5px 5px 20px 0px rgba(0,0,0,0.2);
  --animation-custom_in-rotate: 180deg;
  --animation-custom_in-scale: 1;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
}

.u-section-2 .u-container-layout-1 {
  padding: 20px 0 0;
}

.u-section-2 .u-group-1 {
  min-height: 93px;
  margin-top: 0;
  margin-bottom: 0;
  height: auto;
  background-image: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0.5));
}

.u-section-2 .u-container-layout-2 {
  padding-left: 20px;
  padding-right: 20px;
}

.u-section-2 .u-text-3 {
  text-transform: uppercase;
  font-size: 1rem;
  letter-spacing: 2px;
  font-weight: 700;
  margin: 0;
}

.u-section-2 .u-image-2 {
  box-shadow: 5px 5px 20px 0px rgba(0,0,0,0.2);
  --animation-custom_in-rotate: 180deg;
  --animation-custom_in-scale: 1;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  background-image: url("photos/IMG_1171.webp");
}

.u-section-2 .u-container-layout-3 {
  padding: 20px 0 0;
}

.u-section-2 .u-group-2 {
  min-height: 93px;
  margin-top: 0;
  margin-bottom: 0;
  height: auto;
  background-image: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0.5));
}

.u-section-2 .u-container-layout-4 {
  padding-left: 20px;
  padding-right: 20px;
}

.u-section-2 .u-text-4 {
  text-transform: uppercase;
  font-size: 1rem;
  letter-spacing: 2px;
  font-weight: 700;
  margin: 0;
}

.u-section-2 .u-image-3 {
  box-shadow: 5px 5px 20px 0px rgba(0,0,0,0.2);
  --animation-custom_in-rotate: 180deg;
  --animation-custom_in-scale: 1;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  background-image: url("photos/casaalitasvol.jpg");
}

.u-section-2 .u-container-layout-5 {
  padding: 20px 0 0;
}

.u-section-2 .u-group-3 {
  min-height: 93px;
  margin-top: 0;
  margin-bottom: 0;
  height: auto;
  background-image: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0.5));
}

.u-section-2 .u-container-layout-6 {
  padding-left: 20px;
  padding-right: 20px;
}

.u-section-2 .u-text-5 {
  text-transform: uppercase;
  font-size: 1rem;
  letter-spacing: 2px;
  font-weight: 700;
  margin: 0;
}

.u-section-2 .u-image-4 {
  box-shadow: 5px 5px 20px 0px rgba(0,0,0,0.2);
  --animation-custom_in-rotate: 180deg;
  --animation-custom_in-scale: 1;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  background-image: url("photos/BMY2023cover.JPG");
}

.u-section-2 .u-container-layout-7 {
  padding: 20px 0 0;
}

.u-section-2 .u-group-4 {
  min-height: 93px;
  margin-top: 0;
  margin-bottom: 0;
  height: auto;
  background-image: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0.5));
}

.u-section-2 .u-container-layout-8 {
  padding-left: 20px;
  padding-right: 20px;
}

.u-section-2 .u-text-6 {
  text-transform: uppercase;
  font-size: 1rem;
  letter-spacing: 2px;
  font-weight: 700;
  margin: 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 970px;
  }

  .u-section-2 .u-repeater-1 {
    grid-template-columns: repeat(4, calc(25% - 13.5px));
    min-height: 278px;
  }

  .u-section-2 .u-group-1 {
    height: auto;
  }

  .u-section-2 .u-group-2 {
    height: auto;
  }

  .u-section-2 .u-group-3 {
    height: auto;
  }

  .u-section-2 .u-group-4 {
    height: auto;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 2031px;
  }

  .u-section-2 .u-repeater-1 {
    grid-template-columns: repeat(2, calc(50% - 9px));
    min-height: 899px;
  }

  .u-section-2 .u-text-3 {
    font-size: 1.25rem;
  }

  .u-section-2 .u-text-4 {
    font-size: 1.25rem;
  }

  .u-section-2 .u-text-5 {
    font-size: 1.25rem;
  }

  .u-section-2 .u-text-6 {
    font-size: 1.25rem;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-2 .u-container-layout-1 {
    padding-top: 30px;
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-text-3 {
    font-size: 1.875rem;
  }

  .u-section-2 .u-container-layout-3 {
    padding-top: 30px;
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-2 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-text-4 {
    font-size: 1.875rem;
  }

  .u-section-2 .u-container-layout-5 {
    padding-top: 30px;
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-2 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-text-5 {
    font-size: 1.875rem;
  }

  .u-section-2 .u-container-layout-7 {
    padding-top: 30px;
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-2 .u-container-layout-8 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-text-6 {
    font-size: 1.875rem;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-text-2 {
    width: 340px;
  }
} .u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 627px;
}

.u-section-3 .u-text-1 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  margin: 60px auto 0;
}

.u-section-3 .u-text-2 {
  width: 459px;
  font-size: 1.25rem;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  margin: 17px auto 0;
}

.u-section-3 .u-list-1 {
  margin-top: 36px;
  margin-bottom: 60px;
}

.u-section-3 .u-repeater-1 {
  grid-template-columns: calc(25% - 13.5px) calc(25% - 13.5px) calc(25% - 13.5px) calc(25% - 13.5px);
  min-height: 341px;
  grid-gap: 18px 18px;
}

.u-section-3 .u-image-1 {
  background-image: url("images/woman-practising-yoga-gym-with-t.jpg");
  box-shadow: 5px 5px 20px 0px rgba(0,0,0,0.2);
  --animation-custom_in-rotate: 180deg;
  --animation-custom_in-scale: 1;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
}

.u-section-3 .u-container-layout-1 {
  padding: 20px 0 0;
}

.u-section-3 .u-group-1 {
  min-height: 93px;
  margin-top: 0;
  margin-bottom: 0;
  height: auto;
  background-image: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0.5));
}

.u-section-3 .u-container-layout-2 {
  padding-left: 20px;
  padding-right: 20px;
}

.u-section-3 .u-text-3 {
  text-transform: uppercase;
  font-size: 1rem;
  letter-spacing: 2px;
  font-weight: 700;
  margin: 0;
}

.u-section-3 .u-image-2 {
  box-shadow: 5px 5px 20px 0px rgba(0,0,0,0.2);
  --animation-custom_in-rotate: 180deg;
  --animation-custom_in-scale: 1;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  background-image: url("images/group-sporty-people-bird-dog-exe.jpg");
}

.u-section-3 .u-container-layout-3 {
  padding: 20px 0 0;
}

.u-section-3 .u-group-2 {
  min-height: 93px;
  margin-top: 0;
  margin-bottom: 0;
  height: auto;
  background-image: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0.5));
}

.u-section-3 .u-container-layout-4 {
  padding-left: 20px;
  padding-right: 20px;
}

.u-section-3 .u-text-4 {
  text-transform: uppercase;
  font-size: 1rem;
  letter-spacing: 2px;
  font-weight: 700;
  margin: 0;
}

.u-section-3 .u-image-3 {
  box-shadow: 5px 5px 20px 0px rgba(0,0,0,0.2);
  --animation-custom_in-rotate: 180deg;
  --animation-custom_in-scale: 1;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  background-image: url("images/crop-women-practicing-yoga-hall.jpg");
}

.u-section-3 .u-container-layout-5 {
  padding: 20px 0 0;
}

.u-section-3 .u-group-3 {
  min-height: 93px;
  margin-top: 0;
  margin-bottom: 0;
  height: auto;
  background-image: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0.5));
}

.u-section-3 .u-container-layout-6 {
  padding-left: 20px;
  padding-right: 20px;
}

.u-section-3 .u-text-5 {
  text-transform: uppercase;
  font-size: 1rem;
  letter-spacing: 2px;
  font-weight: 700;
  margin: 0;
}

.u-section-3 .u-image-4 {
  box-shadow: 5px 5px 20px 0px rgba(0,0,0,0.2);
  --animation-custom_in-rotate: 180deg;
  --animation-custom_in-scale: 1;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  background-image: url("images/65556.jpg");
}

.u-section-3 .u-container-layout-7 {
  padding: 20px 0 0;
}

.u-section-3 .u-group-4 {
  min-height: 93px;
  margin-top: 0;
  margin-bottom: 0;
  height: auto;
  background-image: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0.5));
}

.u-section-3 .u-container-layout-8 {
  padding-left: 20px;
  padding-right: 20px;
}

.u-section-3 .u-text-6 {
  text-transform: uppercase;
  font-size: 1rem;
  letter-spacing: 2px;
  font-weight: 700;
  margin: 0;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 970px;
  }

  .u-section-3 .u-repeater-1 {
    grid-template-columns: repeat(4, calc(25% - 13.5px));
    min-height: 278px;
  }

  .u-section-3 .u-group-1 {
    height: auto;
  }

  .u-section-3 .u-group-2 {
    height: auto;
  }

  .u-section-3 .u-group-3 {
    height: auto;
  }

  .u-section-3 .u-group-4 {
    height: auto;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 2031px;
  }

  .u-section-3 .u-repeater-1 {
    grid-template-columns: repeat(2, calc(50% - 9px));
    min-height: 899px;
  }

  .u-section-3 .u-text-3 {
    font-size: 1.25rem;
  }

  .u-section-3 .u-text-4 {
    font-size: 1.25rem;
  }

  .u-section-3 .u-text-5 {
    font-size: 1.25rem;
  }

  .u-section-3 .u-text-6 {
    font-size: 1.25rem;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-3 .u-container-layout-1 {
    padding-top: 30px;
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-text-3 {
    font-size: 1.875rem;
  }

  .u-section-3 .u-container-layout-3 {
    padding-top: 30px;
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-3 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-text-4 {
    font-size: 1.875rem;
  }

  .u-section-3 .u-container-layout-5 {
    padding-top: 30px;
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-3 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-text-5 {
    font-size: 1.875rem;
  }

  .u-section-3 .u-container-layout-7 {
    padding-top: 30px;
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-3 .u-container-layout-8 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-text-6 {
    font-size: 1.875rem;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-text-2 {
    width: 340px;
  }
} .u-section-4 {
  background-image: none;
}

.u-section-4 .u-sheet-1 {
  min-height: 627px;
}

.u-section-4 .u-text-1 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  margin: 60px auto 0;
}

.u-section-4 .u-text-2 {
  width: 459px;
  font-size: 1.25rem;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  margin: 17px auto 0;
}

.u-section-4 .u-list-1 {
  margin-top: 36px;
  margin-bottom: 0;
}

.u-section-4 .u-repeater-1 {
  grid-template-columns: calc(25% - 13.5px) calc(25% - 13.5px) calc(25% - 13.5px) calc(25% - 13.5px);
  min-height: 341px;
  grid-gap: 18px 18px;
}

.u-section-4 .u-image-1 {
  background-image: url("images/woman-practising-yoga-gym-with-t.jpg");
  box-shadow: 5px 5px 20px 0px rgba(0,0,0,0.2);
  --animation-custom_in-rotate: 180deg;
  --animation-custom_in-scale: 1;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
}

.u-section-4 .u-container-layout-1 {
  padding: 20px 0 0;
}

.u-section-4 .u-group-1 {
  min-height: 93px;
  margin-top: 0;
  margin-bottom: 0;
  height: auto;
  background-image: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0.5));
}

.u-section-4 .u-container-layout-2 {
  padding-left: 20px;
  padding-right: 20px;
}

.u-section-4 .u-text-3 {
  text-transform: uppercase;
  font-size: 1rem;
  letter-spacing: 2px;
  font-weight: 700;
  margin: 0;
}

.u-section-4 .u-image-2 {
  box-shadow: 5px 5px 20px 0px rgba(0,0,0,0.2);
  --animation-custom_in-rotate: 180deg;
  --animation-custom_in-scale: 1;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  background-image: url("images/group-sporty-people-bird-dog-exe.jpg");
}

.u-section-4 .u-container-layout-3 {
  padding: 20px 0 0;
}

.u-section-4 .u-group-2 {
  min-height: 93px;
  margin-top: 0;
  margin-bottom: 0;
  height: auto;
  background-image: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0.5));
}

.u-section-4 .u-container-layout-4 {
  padding-left: 20px;
  padding-right: 20px;
}

.u-section-4 .u-text-4 {
  text-transform: uppercase;
  font-size: 1rem;
  letter-spacing: 2px;
  font-weight: 700;
  margin: 0;
}

.u-section-4 .u-image-3 {
  box-shadow: 5px 5px 20px 0px rgba(0,0,0,0.2);
  --animation-custom_in-rotate: 180deg;
  --animation-custom_in-scale: 1;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  background-image: url("images/crop-women-practicing-yoga-hall.jpg");
}

.u-section-4 .u-container-layout-5 {
  padding: 20px 0 0;
}

.u-section-4 .u-group-3 {
  min-height: 93px;
  margin-top: 0;
  margin-bottom: 0;
  height: auto;
  background-image: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0.5));
}

.u-section-4 .u-container-layout-6 {
  padding-left: 20px;
  padding-right: 20px;
}

.u-section-4 .u-text-5 {
  text-transform: uppercase;
  font-size: 1rem;
  letter-spacing: 2px;
  font-weight: 700;
  margin: 0;
}

.u-section-4 .u-image-4 {
  box-shadow: 5px 5px 20px 0px rgba(0,0,0,0.2);
  --animation-custom_in-rotate: 180deg;
  --animation-custom_in-scale: 1;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  background-image: url("images/65556.jpg");
}

.u-section-4 .u-container-layout-7 {
  padding: 20px 0 0;
}

.u-section-4 .u-group-4 {
  min-height: 93px;
  margin-top: 0;
  margin-bottom: 0;
  height: auto;
  background-image: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0.5));
}

.u-section-4 .u-container-layout-8 {
  padding-left: 20px;
  padding-right: 20px;
}

.u-section-4 .u-text-6 {
  text-transform: uppercase;
  font-size: 1rem;
  letter-spacing: 2px;
  font-weight: 700;
  margin: 0;
}

.u-section-4 .u-text-7 {
  font-size: 1rem;
  width: 459px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  font-style: normal;
  margin: 43px auto 0;
}

.u-section-4 .u-btn-1 {
  border-bottom-style: solid;
  font-style: normal;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 970px;
  }

  .u-section-4 .u-repeater-1 {
    grid-template-columns: repeat(4, calc(25% - 13.5px));
    min-height: 278px;
  }

  .u-section-4 .u-group-1 {
    height: auto;
  }

  .u-section-4 .u-group-2 {
    height: auto;
  }

  .u-section-4 .u-group-3 {
    height: auto;
  }

  .u-section-4 .u-group-4 {
    height: auto;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 2031px;
  }

  .u-section-4 .u-repeater-1 {
    grid-template-columns: repeat(2, calc(50% - 9px));
    min-height: 899px;
  }

  .u-section-4 .u-text-3 {
    font-size: 1.25rem;
  }

  .u-section-4 .u-text-4 {
    font-size: 1.25rem;
  }

  .u-section-4 .u-text-5 {
    font-size: 1.25rem;
  }

  .u-section-4 .u-text-6 {
    font-size: 1.25rem;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-4 .u-container-layout-1 {
    padding-top: 30px;
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-text-3 {
    font-size: 1.875rem;
  }

  .u-section-4 .u-container-layout-3 {
    padding-top: 30px;
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-4 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-text-4 {
    font-size: 1.875rem;
  }

  .u-section-4 .u-container-layout-5 {
    padding-top: 30px;
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-4 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-text-5 {
    font-size: 1.875rem;
  }

  .u-section-4 .u-container-layout-7 {
    padding-top: 30px;
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-4 .u-container-layout-8 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-text-6 {
    font-size: 1.875rem;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-text-2 {
    width: 340px;
  }

  .u-section-4 .u-text-7 {
    width: 340px;
  }
}.u-section-5 .u-sheet-1 {
  min-height: 1269px;
}

.u-section-5 .u-shape-1 {
  width: 938px;
  height: 865px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 180deg;
  --animation-custom_in-scale: 1;
  margin: 60px auto 0 81px;
}

.u-section-5 .u-shape-2 {
  width: 1019px;
  height: 860px;
  --animation-custom_in-translate_x: -300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: -1068px auto 0 0;
}

.u-section-5 .u-image-1 {
  width: 728px;
  height: 729px;
  object-position: 0% 50%;
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: -808px 0 0 auto;
}

.u-section-5 .u-form-1 {
  height: 574px;
  background-image: none;
  margin: -220px 305px -143px 244px;
}

.u-section-5 .u-form-group-4 {
  margin-left: 0;
}

.u-section-5 .u-btn-1 {
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  background-image: none;
  width: 100%;
  padding-left: 0;
  padding-right: 0;
}

@media (max-width: 1199px) {
  .u-section-5 .u-shape-1 {
    width: 858px;
    height: 813px;
    margin-top: 271px;
    margin-left: 3px;
  }

  .u-section-5 .u-shape-2 {
    width: 940px;
    margin-top: -1016px;
  }

  .u-section-5 .u-image-1 {
    width: 660px;
    height: 661px;
    margin-top: -740px;
  }

  .u-section-5 .u-form-1 {
    margin: -221px 205px 60px 144px;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-shape-1 {
    width: 696px;
    height: 749px;
    margin-top: 60px;
    margin-left: 0;
  }

  .u-section-5 .u-shape-2 {
    height: 764px;
    margin-top: -936px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-5 .u-image-1 {
    width: 584px;
    height: 585px;
    margin-top: -660px;
  }

  .u-section-5 .u-form-1 {
    margin: -149px 77px -127px 53px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-sheet-1 {
    min-height: 1257px;
  }

  .u-section-5 .u-shape-1 {
    height: 537px;
    width: 494px;
    margin-right: 12px;
    margin-left: auto;
  }

  .u-section-5 .u-shape-2 {
    height: 516px;
    width: 516px;
    margin-top: -627px;
    margin-right: auto;
    margin-left: 0;
  }

  .u-section-5 .u-image-1 {
    width: 382px;
    height: 383px;
    margin-top: -368px;
  }

  .u-section-5 .u-form-1 {
    margin-top: 34px;
    margin-bottom: -31px;
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-sheet-1 {
    min-height: 1067px;
  }

  .u-section-5 .u-shape-1 {
    width: 318px;
    height: 279px;
    margin-top: 59px;
    margin-right: auto;
  }

  .u-section-5 .u-shape-2 {
    height: 305px;
    width: 318px;
    margin-top: -353px;
  }

  .u-section-5 .u-image-1 {
    width: 280px;
    height: 281px;
    margin-top: -304px;
  }

  .u-section-5 .u-form-1 {
    margin-top: 94px;
    margin-bottom: -15px;
    margin-right: initial;
    margin-left: initial;
  }
}